<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/FakeCloudApp" version="1.0.0" viewmodes="maximized">
    <tizen:application id="dEZRQkxXVQ.FakeCloudApp" package="dEZRQkxXVQ" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>FakeCloudApp</name>
    <access origin="*" subdomains="true"></access>
    <tizen:profile name="tv"/>
</widget>
